header {
    background-color: blue;
}

header h1 {
    background-color:powderblue;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
