header {
    background-color: blue;
}

header h1 {
    background-color:powderblue;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
