header {
    background-color: blue;
}

header h1 {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

#left{
    float: left;
    width: 65%;
    overflow: hidden;
}
#right {
    overflow: hidden;
}
